{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">我的书架</h3>
	</div>
	<div class="panel-body">
		<div class="row" id="bookshelf">
			{% for book in books %}
			<div class="col-lg-4" id="{{ book.book.id }}">
				<div style="height: 102px;  margin: 10px 0;">
					<div class="book_img" style="float: left; margin-right: 12px;">
						<a href="{% url 'books:book' book_id=book.book.id %}" target="_blank">
							<img src="{{ book.book.img_url }}" alt="暂无封面">
						</a>
					</div>
					<div style="width: auto;">
						<a href="{% url 'books:book' book_id=book.book.id %}"><strong>{{ book.book.book_name }}</strong></a><br>
						<small><a href="{% url 'books:author' %}?msg={{ book.book.author }}">{{ book.book.author }}</a> 著</small>
						&nbsp;&nbsp;&nbsp;
						<a  class="btn btn-default btn-xs remove" id="{{ book.book.id }}0">移出书架</a>
						<br>
						<small style="color: #666">{{ book.book.intro|truncatechars:60 }}</small>
					</div>
				</div>
			</div>
			{% empty %}
			<p class="col-lg-12">书架空空如也 ~~~~</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">推荐阅读</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			{% for book in hot_search_novels %}
			<div class="col-lg-4">
				<div style="height: 102px;  margin: 10px 0;">
					<div class="book_img" style="float: left; margin-right: 12px;">
						<a href="{% url 'books:book' book_id=book.id %}" target="_blank">
							<img src="{{ book.img_url }}" alt="暂无封面">
						</a>
					</div>
					<div style="width: auto;">
						<a href="{% url 'books:book' book_id=book.id %}"><strong>{{ book.book_name }}</strong></a> &nbsp;
						<small><a href="{% url 'books:author' %}?msg={{ book.author }}">{{ book.author }}</a> 著</small>
						<br>
						<small style="color: #666">{{ book.intro|truncatechars:80 }}</small>
					</div>
				</div>
			</div>
			{% empty %}
			<p class="col-lg-12">嘟嘟嘟.....发生了某些未知的错误，是外星人入侵了吗，啊啊啊啊.......</p>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block script %}

<script>
	$(function(){
		$(".remove").click(function(){
			var book_id = $(this).attr('id') / 10;
			var url = "like/" + book_id;
			var el_id = '#' + book_id;
			$.ajax({
				url: url,
				success: function(data){	
					if(data['status']=='SUCCESS'){
						$(el_id).remove();
					}
					else{
						alert("嘟嘟嘟.....发生了某些未知的错误，是外星人入侵了吗，啊啊啊啊.......");
					}
				}});
		});
	});
</script>

{% endblock%}
